body{
    background-color: rgb(182, 234, 255);
}
.btn{
    cursor: pointer;
}
body{
    color: rgb(0, 0, 0);
}

.clicked{
    color : #7f7f7f;
}

.form, .greetings{
    display: none;
}

.showing{
    display: block;
}